.product-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.product-details .left, .product-details .right {
    padding: 10px;
}

.product-details .price {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -10px ;
}

.image1 {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
}

.description {
    background-color: #F9F8FE;
    margin-top: 80px;
}

.description .card {
    display: flex;
    flex-direction: column;
    max-width: 750px;
    padding-top: 10px;
    padding-bottom: 70px;
    margin: auto;
}

.description .sections {
    display: flex;
    flex-direction: row;
}

.description .sections h3 {
    padding-left: 10px;
    padding-right: 10px;
    color: #151875;
}

.description .sections p {
    color: #A9ACC6;
    font-size: 16px;
}

.details-button {
    border-radius: 8px;
    color: #1D3178;
    background-color: #FFFFFF;
}

.details-reviewbutton {
    border-radius: 8px;
    height: 20px;
    width:90px;
    margin-left: 10px;
    margin-top: 22px;
    background-color: #FFFFFF;
}

.cart-button {
    color: #FFFFFF;
    background-color: #FF3EB2;
    border-color: #FF3EB2;
    border-radius: 8px;
    margin-right: 10px;
    margin-left: -85px;
}

.rating {
    display: flex;
    margin-top: -20px;
}

.icons2 {
    display: flex;
    justify-content: center;
    margin-left: 120px; 
    margin-top: -60px; 
}

.name {
    font-size: 20px;
    width: 250px;
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
}