.product-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.product-details .left,
.product-details .right {
  padding: 10px;
}

.product-details .price {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image1 {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-evenly;
}

.description {
  background-color: #f9f8fe;
}

.description .card {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  padding-top: 10px;
  padding-bottom: 70px;
  margin: auto;
}

.description .sections {
  display: flex;
  flex-direction: row;
}

.description .sections h3 {
  padding-left: 10px;
  padding-right: 10px;
  color: #151875;
}

.description .sections p {
  color: #a9acc6;
  font-size: 16px;
}

.details-button {
  border-radius: 8px;
  color: #1d3178;
  background-color: #ffffff;
}

.cart-button {
  color: #ffffff;
  background-color: #ff3eb2;
  border-color: #ff3eb2;
  border-radius: 8px;
}
